{% extends 'base.html' %}
{% load static %}
{% block styles %}
  <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
{% endblock %}
{% block content %}
  <div id="logreg-forms">
      {% if form.errors %}
        <div class="alert alert-danger" role="alert">
          {{ form.errors }}
        </div>
      {% endif %}
    <form class="form-signin" method="post">
      {% csrf_token %}
      {% for hidden_field in form.hidden_fields %}
        {{ hidden_field }}
      {% endfor %}
      <h3 class="mb-3 font-weight-normal" style="text-align: center">Sign In</h3>
      <div>
        <input type="email" name="username" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
        {% for error in field.errors %}
            <div class="invalid-feedback">
              <span class="warning">{{ error }}</span>
            </div>
        {% endfor %}
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required="">
      </div>
      <button class="btn btn-lg btn-success btn-block" type="submit"><span><i class="fas fa-sign-in-alt"></i></span> Sign in</button>
      <a href="#" id="forgot_pswd">Forgot password?</a>
      <hr>
      <button class="btn btn-lg btn-primary btn-block" type="button" id="btn-signup"><span><i class="fas fa-user-plus"></i></span> Sign Up</button>
    </form>
  </div>
{% endblock %}
