{% extends 'dashboard/base.html' %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}
{% load static %}

{% block title %}New Project{% endblock %}

{% block content %}
  <h1 class="h2">New Project</h1>
  <form method="post" action="" enctype="multipart/form-data">
      {% csrf_token %}
      {% crispy form helper %}
    <div>
      <h3>Add Researchers</h3>
      <table>
        {{ project_researcher_formset.management_form }}
        {% for form in project_researcher_formset.forms %}
          {% if forloop.first %}
              <thead>
                <tr>
                {% for field in form.visible_fields %}
                    <th>{{field.label|capfirst}}</th>
                {% endfor %}
                </tr>
              </thead>
          {% endif %}
          <tr class="formset_row">
            {% for field in form.visible_fields %}
              <td>
                {% if forloop.first %}
                  {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                  {% endfor %}
                {% endif %}

                {{ field.errors.as_ul }}
                {{ field|as_crispy_field }}
              </td>
            {% endfor %}
          </tr>
        {% endfor %}
      </table>
    </div>
    <div class="pt-10">
      <input type="submit" class="btn btn-primary" value="Create Project">
    </div>
  </form>
{% endblock %}

{% block scripts %}
  <script src="{% static 'formset/jquery.formset.js' %}"></script>
{#  <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>#}
    <script>
    // Add the following code if you want the name of the file appear on select
    $(".custom-file-input").on("change", function() {
      var fileName = $(this).val().split("\\").pop();
      $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });
</script>
  <script type="text/javascript">
    $('.formset_row').formset({
      addText: 'add researcher',
      addCssClass: 'add-row btn btn-success btn-block mb-10',
      deleteText: 'remove',
      deleteCssClass: 'btn btn-danger',
      prefix: 'researchers'
    });
  </script>
{% endblock %}
